# Database
DATABASE_URL="postgresql://postgres:pFdCAybWlGtfWloZGltbCxtDrQLXIJzP@interchange.proxy.rlwy.net:36415/railway"

# JWT Secret
JWT_SECRET="tu-super-secreto-jwt-aqui-cambialo-en-produccion"

# Server
PORT=4000

# CORS
CORS_ORIGIN="http://localhost:5173"

# Entorno
NODE_ENV=development
